<!DOCTYPE html>
<html>
<head>
    <title>{{ provider.name }}</title>

    {% for css_asset in provider.plugin_css %}
    <link rel="stylesheet" type="text/css" href="{{ css_asset }}">
    {% endfor %}
</head>

<body>
    {% include embed_template_path %}

    {% include 'providers/socket_handler.html' %}
    {% block pre_js %}{% endblock pre_js %}

    {% for js_asset in provider.plugin_js %}
        <script type="module" src="{{ js_asset }}"></script>
    {% endfor %}
</body>
</html>
