{% load whitebox %}


<link href="{% tagged_static 'core/videojs/video-js.css' %}" rel="stylesheet" />
<script src="{% tagged_static 'core/videojs/video.min.js' %}"></script>

<div class="wizard-media-container">
  <video class="video-js w-full" controls muted loop autoplay>
    <source src="{{ url }}">
    Your browser does not support the video tag.
  </video>
</div>