@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Brand palette */
    --color-brand-primary: rgb(31 36 43);
    --color-brand-green: rgb(78 187 60);
    --color-brand-orange: rgb(238 112 59);

    /* Gray palette */
    --color-gray-1: rgb(50 60 75);
    --color-gray-2: rgb(95 111 133);
    --color-gray-3: rgb(148 163 184);
    --color-gray-4: rgb(203 213 225);
    --color-gray-5: rgb(226 232 240);
    --color-gray-6: rgb(241 245 249);
    --color-gray-7: rgb(248 250 252);

    --color-white: rgb(255 255 255);
    --color-red: rgb(224 74 74);

    /* Semantic */
    --color-success: var(--color-brand-green);
    --color-error: var(--color-red);
    --color-warning: var(--color-brand-orange);
    --color-info: var(--color-gray-4);

    /* Utility, accent, etc. */
    --color-full-emphasis: rgb(24 24 24);
    --color-high-emphasis: rgb(76 76 76);
    --color-medium-emphasis: var(--color-gray-3);
    --color-low-emphasis: var(--color-gray-4);
    --color-x-low-emphasis: rgb(243 243 243);
    --color-white-full-emphasis: rgb(254 254 254);

    --color-surface-primary: rgb(24 24 24);
    /*--color-borders-default: rgb(229 229 229);*/
    --color-borders-default: rgb(203 213 225);
    --color-borders-dark: rgb(146 146 146);

    --color-input-bg: var(--color-white);
  }
}

@layer components {
  /* region inputs */
  .input-content-area {
    &:focus {
      outline: none;
    }

    &:disabled {
      background-color: inherit;
      opacity: 0.4;
    }
  }
  /* endregion input */

  /* region buttons */
  .btn {
    @apply flex h-12 px-3 py-3 justify-center gap-2 rounded-[6.25rem];

    .icon-container * {
      @apply h-6 w-6
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  .btn-primary {
    @apply bg-surface-primary text-white-full-emphasis;
  }

  .btn-secondary {
    @apply text-full-emphasis border border-solid border-borders-dark;
  }

  .btn-tertiary {
    @apply text-surface-primary;
  }
  /* endregion buttons */

  /* region snack bars & toasts */

  .snackbar {
    @apply flex h-14 py-2 px-4 items-center gap-4 flex-shrink-0
           rounded-[6.25rem]
           text-white-full-emphasis;

    &.snackbar-success {
      @apply bg-success;
    }

    &.snackbar-error {
      @apply bg-warning;
    }

    &.snackbar-info {
      @apply bg-primary;
    }
  }

  .c_toast_container {
    @apply fixed bottom-4 right-4 z-50 flex flex-col gap-4;
  }

  /* endregion snack bars & toasts */

  /* region page-specific stuff */
  .wizard-media-container {
    @apply flex justify-center w-full md:w-[36rem] rounded-3xl md:rounded-none;
    background: radial-gradient(50% 49.82% at 50% 50.18%, #FFF 0%, #DFDFDF 100%);
    .vjs-waiting {
      visibility: hidden;
    }
  }
  /* endregion page-specific stuff */
}

@layer utilities {
  .overflow-y-scroll-hidden {
    /* Make it scrollable */
    overflow-y: scroll;

    /* But hide the scrollbars */
    scrollbar-width: none;
  }
}
