networks:
  whitebox-net-{{ deploy_tag }}:
    name: whitebox-net-{{ deploy_tag }}
    driver: bridge

services:
  redis:
    image: redis:alpine
    container_name: redis-{{ deploy_tag }}
    labels:
      - "aero.whitebox.deploy_name={{ deploy_name }}"
      - "aero.whitebox.deploy_tag={{ deploy_tag }}"
      - "aero.whitebox.branch_name={{ branch_name }}"
    networks:
      - whitebox-net-{{ deploy_tag }}
    expose:
      - "6379"

  postgres:
    image: postgres
    container_name: postgres-{{ deploy_tag }}
    labels:
      - "aero.whitebox.deploy_name={{ deploy_name }}"
      - "aero.whitebox.deploy_tag={{ deploy_tag }}"
      - "aero.whitebox.branch_name={{ branch_name }}"
    networks:
      - whitebox-net-{{ deploy_tag }}
    expose:
      - "5432"
    environment:
      - POSTGRES_USER=whitebox
      - POSTGRES_PASSWORD=whitebox
      - POSTGRES_DB=whitebox

  backend-base:
    build:
      context: .
      dockerfile: packaging/docker/backend.base.Dockerfile
    image: backend-base:latest
    labels:
      - "aero.whitebox.deploy_name={{ deploy_name }}"
      - "aero.whitebox.deploy_tag={{ deploy_tag }}"
      - "aero.whitebox.branch_name={{ branch_name }}"

  backend:
    build:
      context: .
      dockerfile: packaging/docker/backend.prod.Dockerfile
      args:
        TEMPORARY_DEPENDENCIES: "1"
    image: {{ backend_name }}:{{ deploy_tag }}
    container_name: {{ backend_name }}-{{ deploy_tag }}
    labels:
      - "aero.whitebox.deploy_name={{ deploy_name }}"
      - "aero.whitebox.deploy_tag={{ deploy_tag }}"
      - "aero.whitebox.branch_name={{ branch_name }}"
    networks:
      - whitebox-net-{{ deploy_tag }}
    ports:
      - "{{ backend_port }}:8000"
    depends_on:
      - backend-base
      - redis
      - postgres
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_DATABASE=whitebox
      - POSTGRES_USER=whitebox
      - POSTGRES_PASSWORD=whitebox
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - DJANGO_ALLOWED_HOSTS={{ ansible_host }}

  frontend-base:
    build:
      context: .
      dockerfile: packaging/docker/frontend.base.Dockerfile
    image: frontend-base:latest
    labels:
      - "aero.whitebox.deploy_name={{ deploy_name }}"
      - "aero.whitebox.deploy_tag={{ deploy_tag }}"
      - "aero.whitebox.branch_name={{ branch_name }}"

  frontend:
    build:
      context: .
      dockerfile: packaging/docker/frontend.prod.Dockerfile
    image: {{ frontend_name }}:{{ deploy_tag }}
    container_name: {{ frontend_name }}-{{ deploy_tag }}
    labels:
      - "aero.whitebox.deploy_name={{ deploy_name }}"
      - "aero.whitebox.deploy_tag={{ deploy_tag }}"
      - "aero.whitebox.branch_name={{ branch_name }}"
    networks:
      - whitebox-net-{{ deploy_tag }}
    ports:
      - "{{ frontend_port }}:80"
    depends_on:
      - frontend-base
      - backend
    environment:
      - VITE_API_PORT={{ backend_port }}
